div.card{
	border: 1px solid gray;
	height: 200px;
}

div.card .card_top{
	text-align: right;
	height: 15px;
}


div.card .card_view, .card_view_a{
	font-size:16px;
	text-align: center;
	vertical-align: middle;


}
div.card .card_view {
	height: 12px;
}

div.card .card_view_a {
	height: 80px;
}

div.card .card_bot{
	text-align:left;
	float: left;
	height: 15px;
	width:50%;
}

div.card-exp{
	background-color: #eee;
}

span.card-filter {
	font-size: smaller;
	padding: 5px 5px 5px 5px;

}

div.card-options{
	text-align:left;

}